absl-py==0.6.1
argh==0.26.2
asn1crypto==0.24.0
astor==0.7.1
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
click==7.0
cloudpickle==0.8.1
cryptography-vectors==2.3.1
cryptography==2.6.1
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
dask==1.2.1
decorator==4.4.0
dill==0.2.8.2
docker-pycreds==0.4.0
en-core-web-sm==2.0.0
ftfy==5.3.0
gast==0.2.0
gitdb2==2.0.5
gitpython==2.1.11
gql==0.1.0
graphql-core==2.1
grpcio==1.16.0
h5py==2.8.0
idna==2.7
imageio==2.5.0
keras-applications==1.0.6
keras-preprocessing==1.0.5
kiwisolver==1.0.1
markdown==3.0.1
matplotlib==3.0.3
mkl-fft==1.0.6
mkl-random==1.0.1
msgpack-numpy==0.4.3.2
msgpack==0.5.6
murmurhash==0.28.0
networkx==2.3
nltk==3.4
numpy==1.15.3
nvidia-ml-py3==7.352.0
olefile==0.46
pandas==0.23.4
pathtools==0.1.2
pillow==5.3.0
pip==18.1
plac==0.9.6
preshed==1.0.1
promise==2.2.1
protobuf==3.6.1
psutil==5.6.0
pycparser==2.19
pymysql==0.9.2
pyopenssl==18.0.0
pyparsing==2.4.0
pysocks==1.6.8
python-dateutil==2.7.3
pytz==2018.5
pywavelets==1.0.3
pyyaml==3.13
regex==2017.11.9
requests==2.20.0
rx==1.6.1
scikit-image==0.15.0
scikit-learn==0.20.0
scipy==1.1.0
sentry-sdk==0.7.6
setuptools==40.5.0
shortuuid==0.5.0
six==1.11.0
smmap2==2.0.5
spacy==2.0.13
subprocess32==3.5.3
tensorboard==1.12.0
tensorboardx==1.6
tensorflow==1.12.0
termcolor==1.1.0
thinc==6.10.3
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tornado==6.0.2
tqdm==4.28.1
ujson==1.35
urllib3==1.23
wandb==0.7.0
watchdog==0.9.0
wcwidth==0.1.7
werkzeug==0.14.1
wheel==0.32.2
wrapt==1.10.11